footer{
  min-width: 100%;
}


#footer {
  background-color: grey;
  font-family: 'Roboto Condensed', sans-serif;
  border-block-start: solid 5px #47474773;
}

#footer a {
  color: white;
}

i{
  color: black;
  font-size: 2em;
}

i:hover{
  transform: scale(1.5);
}

/*----------------------------------
----------media query----------------
----------------------------------*/

@media only screen and (max-width: 1199px) {
  #footer .in {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  #footer .in {
    display: initial;
  }
}
