footer {
  min-width: 100%;
  color: black;
}

#footer {
  background-color: grey;
  font-family: 'Roboto Condensed', sans-serif;
  border-block-start: solid 5px #47474773;
  border-left: solid 5px #47474773;
  border-right: solid 5px #47474773;
}

footer .une {
  height: 190px;
  line-height: 30px;
  align-items: center;
}

.taille {
  height: 75px;
  text-align: center;
}

footer .deux {
  text-align: center;
}

footer li {
  list-style: none;
}

footer a {
  color: black;
}

footer a:hover {
  color: #D00106;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  footer .une {
    display: flex;
    flex-direction: column;
    height: 420px;
    text-align: center;
  }
}

i {
  color: black;
  font-size: 2em;
}

i:hover {
  transform: scale(1.5);
}