/********************************** NAVBAR ***********************************/
#link_nav {
  z-index: 99;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  background-color: black;
  font-family: 'Poiret One', cursive;
  font-size: 1.4em;
}

#link_nav a {
  color: whitesmoke;
  font-family: 'Poiret One', cursive;
}

#link_nav a:hover {
  color: grey;
}
