/********************************** NAVBAR ***********************************/
#link_nav {
  position: fixed;
  z-index: 99;
  display: flex;
  flex-direction: row;
  padding-left: 3%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  font-weight: bolder;
  font-family: 'Poiret One', cursive;
  font-size: 1.8em;
  color: black;
}

#link_nav a {
  color: whitesmoke;
}

#Navbar a {
  padding: 5px;
  border: 2px solid white;
  border-radius: 15px;
}

#link_nav a:hover {
  color: grey;
}

/*
.navbar-toggler,
.navbar-toggler:before,
.navbar-toggler:after {
  background-color: red;
}*/