html {
  margin: 0;
  padding: 0;
}

body {
  background: #0C0163;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#0C0163), to(#0715A8));
  background: -webkit-linear-gradient(#0C0163 0%, #0715A8 100%);
  background: -moz-linear-gradient(#0C0163 0%, #0715A8 100%);
  background: -o-linear-gradient(#0C0163 0%, #0715A8 100%);
  background: linear-gradient(#0C0163 0%, #0715A8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0C0163', endColorstr='#0715A8', GradientType=0);
}

#link_nav {
  background-color: black;
  opacity: 0.3;
}

#slideraccueil {
  max-height: 100em;
}

#slideraccueil h5, #slideraccueil p {
  max-width: 100%;
  background-color: black;
  opacity: 0.8;
}

.carousel-item img {
  max-height: 100vh;
}

.parallax-window {
  min-height: 300px;
  background: transparent;
}

/*************pour le carousel***************/
.Container {
  width: 31.25em;
  height: 23em;
  margin: 0 auto;
  position: relative;
  top: 30px;
  left: 0;
  display: flex;
  flex: 1 1 auto;
}

.Items {
  position: absolute;
  flex: 1 1 auto;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.Carousel {
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.Carousel li {
  list-style: none;
  width: 25em;
  max-height: 20em;
  flex: 1 1 auto;
}

.Carousel li:hover {
  cursor: pointer;
}

/*image centrale.*/
.Front {
  z-index: 3000;
  flex: 1 1 auto;
}

/*image de gauche.*/
.Left {
  left: -12.5em;
  z-index: 1000;
  opacity: 0.6;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
  flex: 1 1 auto;
}

/*image de gauche.*/
.Left2 {
  left: -25em;
  z-index: 1000;
  opacity: 0.4;
  -webkit-transform: scale(.50);
  -moz-transform: scale(.50);
  transform: scale(.50);
  flex: 1 1 auto;
}

/*image de droite.*/
.Right {
  left: 12.5em;
  z-index: 1000;
  opacity: 0.6;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
  flex: 1 1 auto;
}

/*image de droite.*/
.Right2 {
  left: 25em;
  z-index: 1000;
  opacity: 0.4;
  -webkit-transform: scale(.50);
  -moz-transform: scale(.50);
  transform: scale(.50);
  flex: 1 1 auto;
}

.Scale {
  z-index: 1000;
  -webkit-transform: scale(.75);
  -moz-transform: scale(.75);
  transform: scale(.75);
}

.Scale2 {
  z-index: 3000;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

.Items img {
  max-height: 20em;
  border-radius: 8px;
  border: 1px solid #000;
  flex: 1 1 auto;
}

.carousel .js-flickity{
  background: black;
  box-sizing: border-box;
}

.carousel-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;
}

@media screen and ( min-width: 768px ) {
  .carousel-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
/******************* text + image********************/
.container-fluid {
  color: white;
}

h5 {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

/********************************** BACK TO TOP ***********************************/
a#cRetour {
  border-radius: 3px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  color: black;
  background: white;
  position: fixed;
  right: 30px;
  bottom: 20px;
  opacity: 1;
  z-index: 99999;
  transition: all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}

a#cRetour:before {
  content: "\25b2";
}

a#cRetour:hover {
  background: black;
  color: white;
  transition: all ease-in 0.2s;
}

a#cRetour.cInvisible {
  transition: all ease-in 0.5s;
}
